{% extends 'base.html' %}

{% block title %}Список технического обслуживания{% endblock %}

{% block content %}
  <div class="container">
    <h1>Список технического обслуживания</h1>
    <a href="{% url 'add_maintenance' asset_id=asset.id %}" class="btn btn-primary">Добавить запись о техническом обслуживании</a>

    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Дата обслуживания</th>
          <th scope="col">Описание</th>
          <th scope="col">Актив</th>
        </tr>
      </thead>
      <tbody>
        {% for maintenance in maintenance_list %}
          <tr>
            <td>{{ maintenance.date }}</td>
            <td>{{ maintenance.description }}</td>
            <td><a href="{% url 'asset_detail' asset_id=maintenance.asset.id %}">{{ maintenance.asset.asset_name }}</a></td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="3">Записей об обслуживании не найдено.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    .card {
      height: 100%;
    }
  </style>
{% endblock %}